{
    "presets": ["@babel/preset-react", "@babel/preset-env"],
    "env": {
        "dev": {
            "plugins": [
                ["react-refresh/babel"]
            ]
        }
    }
}
